/* Main body style */
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #222221;
}

/* Main-wrapper style */
.main-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

/* Header Style */
header {
    display: flex;
    position: relative;
    width: 100%;
}

