/* Reset Default CSS Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Main body style */
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #222221;
}

/* Main-wrapper style */
.main-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

/* Header Style */
header {
    display: flex;
    position: relative;
    width: 100%;
}

/* Contacts Column Style (right) */
.contacts-column {
    width: 40%;
    background-color: #171616;
    padding: 30px;
}

/* Contacts Column Avatar Style */
.contacts-column_avatar {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 50px auto;
    border: 8px solid #f8f8f8;
    border-radius: 50%;
    overflow: hidden;
}

/* Contacts Column Avatar Img Style */
.contacts-column_avatar img {
    object-fit: cover;
    width: 100%;
    height: auto;
}