/* Reset Default CSS Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Main body style */
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #222221;
}

/* Main-wrapper style */
.main-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

/* Header Style Start */
header {
    display: flex;
    position: relative;
    width: 100%;
}

/* Contacts Column Style (right) */
.contacts-column {
    display: flex;
    width: 25%;
    background-color: #171616;
    padding: 10px;
}

/* Main Info Column Style (left) */
.main_info-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: #eeeeee;
    padding: 50px;
}

/* Contacts Column Avatar Style */
.contacts-column_avatar {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 50px auto;
    border: 8px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

/* Contacts Column Avatar Img Style */
.contacts-column_avatar img {
    object-fit: cover;
    width: 100%;
    height: auto;
    outline: none;
}

/* Main Imfo Column h1 Style */
.main_info-column h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* Main Info Column h2 Style */
.main_info-column h2 {
    font-size: 35px;
    font-weight: 500;
}

/* Header Style End */